md-toolbar.toolbar(layout='row', layout-align='start center', layout-padding='')
  .navbar-left(layout='row', layout-align='center center')
    md-button(ng-href="/")
  md-input-container.md-icon-float(flex)
    label Submit your help request here
    md-icon(md-font-set="material-icons") inbox
    input(ng-model='search', type='text')
  .navbar-right
    md-button(class="md-primary" ng-href="/") submit {{avatar}}

