.avatar
  width: 47px
  margin-right 15px
  border-radius: 100%

md-input-container.emotion
  position relative
  bottom 15px
  padding-bottom 2px

md-input-container.request-input
  position relative
  bottom 15px

md-input-container.request-input label
  top 0

