.main#viewContainer(layout='row')
  span(flex)
  div(layout='column' flex="100")
    div(layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;")
      md-content.md-padding(flex="100")
        md-card(ng-repeat="request in requests | filter:search | filter:{status:'!2'}")
          md-card-content
            img(ng-src="https://avatars.githubusercontent.com/u/{{request.uid}}" class="avatar")
            span(class="time" am-time-ago="request.time")
            span(class="username") {{request.name}}
            p {{request.content}}
          .md-actions(layout='row', layout-align='end center')
            md-input-container(class="status")
              label Status
              md-select(ng-model='request.status' ng-disabled="request.uid != githubId")
                md-option(value=0)
                  | Open
                md-option(value=1)
                  | In Progress
                md-option(value=2)
                  | Closed
      md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id='right')
          md-toolbar.md-theme-light
              h1.md-toolbar-tools Admin Settings
            md-content(layout-padding='')
              form
                md-input-container
                  label(for='testInput') Add Admin
                  input#testInput(type='text', ng-model='data', md-autofocus='')
              md-button.md-primary(ng-click='close()')
                | Close Sidenav Right
  span(flex)
