.pagination
  list-style-type none
  text-align center
  margin 0
  padding 0

  li
    display inline-block
    padding 0.5rem
    margin 0.5rem

.username
  position relative
  bottom 15px
  font-size 18px
  padding-left 10px


.status
  margin-right 20px

.time
  float right
  position relative
  top: 14px
  right: 12px

.md-button.clearRequests
  margin-top 100px

.giphy
  max-height 200px
  max-width: 400px
  float: right
