.main#viewContainer(layout='row')
  span(flex)
  div(layout='column' flex="100")
    div(layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;")
      md-content.md-padding(flex="100")
        md-card(ng-repeat="request in requests | filter:search | filter:{status:'!2'}")
          md-card-content
            img(ng-src="https://avatars.githubusercontent.com/u/{{request.uid}}" class="avatar")
            span(class="time" am-time-ago="request.time")
            span(class="username") {{request.name}}
            p {{request.content}}
          .md-actions(layout='row', layout-align='end center')
            md-input-container(class="status")
              label Status
              md-select(ng-model='request.status' ng-disabled="request.uid != githubId")
                md-option(value=0)
                  | Open
                md-option(value=1)
                  | In Progress
                md-option(value=2)
                  | Closed
  span(flex)
