.main#viewContainer(layout='row')
  span(flex)
  div(layout='column' flex="100")
    div(layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;")
      span(flex="10" style="text-align: center;")
        h4 ONLINE
        div(ng-repeat="user in onlineUsers")
          img(ng-src="https://avatars.githubusercontent.com/u/{{user.services.github.id}}" class="avatar online")
      md-content.md-padding(flex)
        md-card(ng-repeat="request in requests | filter:search | filter:{status:'!2'}")
          md-card-content
            img(ng-src="https://avatars.githubusercontent.com/u/{{request.uid}}" class="avatar")
            span(class="time" am-time-ago="request.time")
            span(class="username") {{request.name}}
            div(layout="row")
              div(flex style="padding-right: 20px")
                p {{request.content}}
              div(flex="35" hide show-gt-sm)
                img(class="giphy" ng-src="{{request.giphy}}")
          .md-actions(layout='row', layout-align='end center')
            md-input-container(class="status")
              label Status
              md-select(ng-model='request.status' ng-disabled="!adminOrOwner(request)")
                md-option(value=0)
                  | Open
                md-option(value=1)
                  | In Progress
                md-option(value=2)
                  | Closed
      md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id='right')
          md-toolbar.md-theme-light
              h1.md-toolbar-tools Admin Settings
            md-content(layout-padding='')
              form
                md-input-container
                  label(for='addAdmin') Add Admin
                  input#addAdmin(type='text', ng-model='adminInput', md-autofocus='', ng-enter="addAdmin(username)")
              div(ng-repeat="admin in admins")
                img(class="avatar" ng-src="{{admin.avatar}}")
                span(class="username") {{admin.name}}
                md-button(class="md-icon-button" ng-click="removeAdmin(admin)")
                  md-icon(md-font-set="material-icons") delete
                  md-tooltip Remove Admin

              md-button(class="clearRequests md-icon-button" ng-click="clearRequests()")
                md-icon(md-font-set="material-icons") refresh
                md-tooltip Clear All Requests
  span(flex)
